/* Estilos hechos por Nacho Loayza y Santiago Muñoz */
/* Estilos generales para todos los archivos html */

/* Seccion de estilos para seguir los requerimientos del enunciado */
body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.text-input {
  width: 300px;
}

#idcod {
  width: 100px;
}

.btn {
  background-color: aqua;
  min-width: 100px;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}


.btn:hover {
  background-color: rgb(0, 106, 255);
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgb(0, 44, 105);
  color: white;
}

/* Estilos para mejorar la vista de los elementos 
   No eran requeridos por el enunciado.
*/

textarea {
  resize: vertical;
  width: 300px;
  min-height: 70px;
}

form div {
  margin: 15px;
}

form {
  background-color: rgb(244, 244, 244);
  border: 2px solid black;
  width: 65%;
  margin: auto;
  text-align: left;
  border-radius: 20px 10% 30% 10px;
}